* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 7fr 1fr;
  grid-template-areas:
    "inicio"
    "search"
    "principal"
    "pie";
  height: 100vh;
}
.grilla {
  grid-area: principal;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
}
a {
  transition: all 0.2s linear;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  font-size: 18px;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.opciones {
  display: none;
  padding: 10px;
  text-align: center;
  transition: all 0.5s linear;
}
.opciones:hover {
  text-decoration: underline;
  cursor: pointer;
}
.inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inicio i {
  padding: 1rem;
}
.inicio img {
  width: 90%;
  max-width: 160px;
  padding: 1rem;
  transition: all 1s ease;
}
.inicio img:hover {
  transform: scale(1.1);
}

.zoom {
  transition: all 0.6s ease;
}
.zoom:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.search {
  grid-area: search;
  background-color: #ecebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.search h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.search p {
  padding-bottom: 0.5rem;
}
.pie {
  grid-area: pie;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 16px;
  width: 100%;
}
.pie i {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
  font-size: 20px;
  transition: all 1s ease;
}
.pie i:hover {
  transform: rotate(360deg);
  color: rgba(54, 54, 221, 0.842);
  cursor: pointer;
}
.grilla img {
  width: 100%;
  height: 100%;
}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1em;
  padding-top: 10px;
}
.producto h2 {
  padding-top: 2rem;
  padding-bottom: 0.5em;
}
.producto p {
  padding-bottom: 2em;
}
.producto img {
  width: 90%;
  height: 50%;
  object-fit: contain;
}
#filtro {
  width: 100%;
  padding: 16px;
  border-color: white;
  border-radius: 4px;
  background-color: white;
}
.btn {
  display: flex;
  background-color: rgb(173, 171, 171);
  color: white;
  width: 80%;
  height: 20%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: medium;
  transition: all 0.6s linear;
}
.btn:hover {
  background-color: black;
}

.search input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 90%;
}
@media (min-width: 576px) {
  .inicio {
    grid-area: inicio;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-top: 30px;
    width: 20%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8.5fr 0.5fr;
    grid-template-areas:
      "inicio search"
      "inicio principal"
      "pie pie ";
    height: 100vh;
  }
  .opciones {
    display: block;
  }

  .inicio i {
    display: none;
  }
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn {
    padding: 10px;
    height: 15%;
  }
}
@media (min-width: 992px) {
  .inicio i {
    display: none;
  }
  .btn {
    padding: 10px;
    height: 10%;
  }
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
